.modalLogin {
  display: none;
}

.modalLogin.active {
  display: flex; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7);
}



.insideML {
  
  background-color: rgb(227 233 238);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #000;
  width: 30%; 
  height: 35%;
  z-index: 2;
} 

.loginForm{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  color: #898989;
}

.loginForm input, .btnLogout{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.btnLogout:hover{
  height: 75px;
  background-color: #ccc;
}




.loginDivision{
  display: flex;
  flex-direction: column;
}